*{
margin: 0;
padding: 0;
font-family: poppins,sans-serif;
box-sizing: border-box;
}

.container{
width: 100%;
min-height: 100vh;
background: linear-gradient(135deg, #153677, #4e085f);
padding: 10px;
}

.todo-app{
max-width: 600px;
background: #fff;
margin: 100px auto 20px;
padding: 40px 30px 70px;
border-radius: 10px;
}

.todo-app h2{
color: #002765;
display: flex;
align-items: center;
margin-bottom: 20px;
}

.row{
display: flex;
align-items: center;
justify-content: space-between;
background: #edeef0;
border-radius: 30px;
padding-left: 10px;
margin-bottom: 20px;
}

input{
flex: 1;
border: none;
outline: none;
background: transparent;
padding: 10px;
font-weight: 14px;
font-size: 17px;
color:#002765 ;
}

button{
border: none;
outline:none;
padding: 14px 30px;
margin: 1px 1px 1px -70px;
background: #db1a8b;
color: #fff;
border-radius: 30px;
cursor: pointer;
font-size: 16px;

}

ul li{
cursor: pointer;
font-size: 17px;
user-select: none;
padding: 12px 8px 12px 15px;
position: relative;
list-style: none;
}

ul li ::before{
content: '';
position: absolute;
height: 28px;
width: 28px;
border-radius: 50%;
background-size: cover;
background-position: center;
top: 12px;
left: 8px;
}

h2,img{
    margin-left:10px;
    justify-content:center !important;
}

.delete{
    padding: 10px 25px 12px 25px;
    margin: 5px 5px 5px 250px ;
    background-color:#153677;
    justify-content: end;


}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #edeef0;
    height: 55px;
    width: 600;
    color: #002765;
}

@media only screen and (max-width: 414px)  {
    li {
        width: 300;

    }  
    .delete{
        margin-left: 10px !important;
        padding: 10px 10px 8px 10px;

    }
    body{
        width: 100%;
    }
    .todo-app{
        padding: 10px 10px 50px;

    }
    
  }
 
    
